body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}
main{
    display: flex;
    margin-top: 7vh;
}
.produto_atual{
    border:1px solid black;
    border-top: none;
    width: 40%;
    height: 85vh;
    border-radius: 25px;
}
.produto_atual>div{
    background-color: #FF2353;
    display: flex;
    align-items: center;
    border-radius: 23px 23px 0 0;

}
.produto_atual>div>input{
    height: 4vh;
}


/******************PARTE DIREITA DA TELA***********************/


.compra_total{
    border: 1px solid black ;
    width: 65%;
    margin-left: 30px;
    border-radius: 25px;
    border-top: none;
    
    display: flex;
    flex-direction: column;
}
.compra_total>.cabecalho{
    display: flex;
    background-color: #FF2353;
    height: 10vh;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: space-around;
}

.compra_total>.preco{
    background-color: #FFDB6D;
    width: 70%;
    height: 10vh;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
    
    align-self: center;
}

#tabela_produto{
    height: 64vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    align-items: start;
}



